@font-face {
  font-family: 'South Park';
  src: url("south park.ttf");
}

/*Elementos*/
body {
    background-color: #f7bf5e;
    margin: 2% 5% 2% 5%;
    border: 1px solid #000000;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-family: 'South Park';
    font-size: 1em;
    color: #000000;
}

p {
    font-family: 'South Park';
    font-size: 15px;
    color: #000000;
}
/*Classes*/
.titulo {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family:"South Park";
}

.negrito {
    font-weight: bold;
}
