body {background-color: #f7bf5e; margin: 2% 5% 2% 5%; border: 1px solid #f7bf5e; padding: 2%; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}
.negrito {font-weight: bold;}
.titulo {font-weight: bold; text-align: center;}
