@font-face {
    font-family: "South Park";
    src: url("south_park.ttf");
  }
  
  .titulo {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-family: "South Park";
    font-color: #ffffff;
  }
  
  /*Elementos*/
  body {
    background-color: #ee6325;
    margin: 2% 5% 2% 5%;
    border: 4px dashed #ffffff;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h2 {
    font-family: "South Park";
    font-size: 20px;
    color: #000000;
  }
  
  *p {
    font-family: "Arial";
    font-size: 14px;
    color: #000000;
  }
  */ .negrito {
    font-weight: bold;
  }
  
  #cartman {
    float: right;
    height: 120px;
    width: 120px;
  }
  
  li {
    font-family: "South Park";
    font-size: 15px;
    font-weight: bold;
    color: #000000;
  }
  
  .characters {
    float: right;
    height: 130px;
    width: auto;
  }
  
  .personagem {
    height: 150px;
  }
  
  .description {
    margin-right: 130px;
    text-align: left;
    font-size: 18px;
    font-family: "Comic Sans MS";
    color: #ffffff;
  }
  
  #introduction {
    text-align: center;
    font-size: 18px;
    font-family: "Comic Sans MS";
    color: #000000;
  }
  