@font-face {
    font-family: 'South Park';
    src: url("south_park.ttf");
  }

.titulo {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-family:"South Park";
    font-color: #FFFFFF;
}
  
  /*Elementos*/
  body {
      background-color: #EE6325;
      margin: 2% 5% 2% 5%;
      border: 4px dashed #FFFFFF;
      padding: 2%;
      font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
      font-family: 'South Park';
      font-size: 1em;
      color: #FFFFFF;
  }
  
  *p {
      font-family: 'Arial';
      font-size: 14px;
      color: #FFFFFF;
  }*/
  

  
  .negrito {
      font-weight: bold;
  }

#cartman {
    float: right;
    height: 120px;
    width: 120px;
}

li {
    font-family:"South Park";
    font-size: 15px;
    font-style: bold;
    color: #FFFFFF;
}

.characters {
    float: right;
    height: 130px;
    width: auto;
}

.personagem {
    height: 150px;
}

.description {
    margin-left: 15px;
    text-align: left;
    font-size: 18px;
}

#introduction {
    text-align: center;
    font-size: 18px;
}