@font-face {
    font-family: 'South Park';
    src: url("south_park.ttf");
  }

.titulo {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-family:"South Park";
}
  
  /*Elementos*/
  body {
      background-color: #00AC51;
      margin: 2% 5% 2% 5%;
      border: 1px solid #FFFFFF;
      padding: 2%;
      font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
      font-family: 'South Park';
      font-size: 1em;
      color: #FFFFFF;
  }
  
  *p {
      font-family: 'Arial';
      font-size: 14px;
      color: #FFFFFF;
  }*/
  

  
  .negrito {
      font-weight: bold;
  }
  
  .characters {
    float: left;
}

.personagem {
    height: 150px;
}

.description {
    margin-left: 200px;
}